
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

  

<section class="w3l-index3" id="about">
  
    <div class="midd-w3 py-5">
       
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Biz Kimiz</li>
                    <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Hakkımızda</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-5 pr-lg-0">
                    <div class="w3l-left-img2">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-0">
                    <div class="w3l-right-info">
                        <h3 class="title-big">Kaliteli Emlak: Mülk, Arsa, ve Tapu Uzmanınız</h3>
                        <h5 class="mt-4">
                            Kaliteli Emlak, emlak sektöründeki 15 yıllık deneyimi ve köklü geçmişi ile mülk, arsa ve tapu işlemlerinde güvenilir bir isim haline gelmiştir.
                        </h5>
                        <h3 class="title-big">Deneyim ve Uzmanlık</h3>
                        <h5 class="mt-4">
                            Kaliteli Emlak olarak, müşterilerimize sunduğumuz hizmetlerde uzmanlığımıza güveniyoruz. Mülk alım-satımından, arsa ve tapu işlemlerine kadar uzanan geniş yelpazede deneyimimiz, müşterilerimizin ihtiyaçlarına uygun özelleştirilmiş çözümler sunmamıza yardımcı oluyor.
                        </h5>
                        <a href="#small-dialog1" class="popup-with-zoom-anim play-view d-block mt-md-5 mt-4">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                            Bizi Takip Etmeye Devam Edin
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/PHbf6Fy1yDk" frameborder="0" allowfullscreen=""></iframe>
                        </div>

                    </div>
                </div>
            </div><div class="grids-area-hny main-cont-wthree-fea row mt-5 pt-lg-5 pt-5">
                <div class="col-lg-4 col-md-6 grids-feature">
                    <div class="area-box">
                        <span class="fa fa-home"></span>
                        <h4><a class="title-head">Emlak Dünyasında Lider</a></h4>
                        <p>Kaliteli Emlak, emlak dünyasının önde gelen bir parçası olma vizyonu ile hareket ediyor, müşterilerimize yüksek kaliteli mülkler sunuyoruz.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                    <div class="area-box">
                        <span class="fa fa-search-plus"></span>
                        <h4><a class="title-head">Aile Dostu Seçenekler</a></h4>
                        <p>Aile bütçenize uygun, hayalinizdeki evi bulmanıza yardımcı oluyoruz. Sizin için en uygun mülkü seçerken sadece bir adım uzağınızdayız.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                    <div class="area-box">
                        <span class="fa fa-dollar"></span>
                        <h4><a class="title-head">Hem Uygun Hem Hesaplı</a></h4>
                        <p>Fiyatlarımız, her bütçeye uygun mükemmel mülk fırsatları sunuyor. Taksit seçenekleri ve avantajlarla, hayalinizdeki evi daha erişilebilir hale getiriyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>