<div class="footer">
    <div class="float-right">
        Alparslan Akbaş <strong>Back-End</strong> Developer.
    </div>
    <div>
        <strong>Hakları Saklıdır</strong> INSPINIA &copy; Tarih : @DateTime.Now
    </div>
</div>